In [1]:
import pandas as pd
import seaborn as sns
import os
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\Daniel\Python Workspace\Thinkful\WELLCOME_APCspend2013_forThinkful.csv',encoding='unicode_escape')

In [3]:
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [4]:
df.describe()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
count,1928,2127,2126,2127,2127
unique,1880,299,984,2126,1402
top,Not yet available,Elsevier,PLoS One,"Exclusive breastfeeding, diarrhoel morbidity a...",£2040.00
freq,7,387,92,2,94

In [5]:
df = df.rename(columns={ 'COST (£) charged to Wellcome (inc VAT when charged)' : 'Cost in Pounds'})

In [6]:
df['Cost in Pounds'] = df['Cost in Pounds'].str.replace('£','')
df['Cost in Pounds'] = df['Cost in Pounds'].str.replace('$','')
df['Cost in Pounds'] = df['Cost in Pounds'].astype(float)

In [7]:
df['Cost in Pounds'].dtypes

dtype('float64')

In [8]:
df['Journal title'] = df['Journal title'].str.lower()
df['Journal title'] = df['Journal title'].astype(str)

In [9]:
#function to turn all journal titles longer than 2 words into acronyms
def acronym_finder(x):
    list_of_words = x.split()
    acronym = ''
    if len(list_of_words) > 2:
        for word in list_of_words:
            acronym += word[0]
    else:
        return x
    return acronym

In [10]:
df['Shortened Titles'] = df['Journal title'].apply(acronym_finder)

In [11]:
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,Cost in Pounds,Shortened Titles
0,NaN,CUP,psychological medicine,Reduced parahippocampal cortical thickness in ...,0.00,psychological medicine
1,PMC3679557,ACS,biomacromolecules,Structural characterization of a Model Gram-ne...,2381.04,biomacromolecules
2,23043264 PMC3506128,ACS,j med chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56,jmc
3,23438330 PMC3646402,ACS,j med chem,Orvinols with mixed kappa/mu opioid receptor a...,669.64,jmc
4,23438216 PMC3601604,ACS,j org chem,Regioselective opening of myo-inositol orthoes...,685.88,joc

In [14]:
journal_titles = df.groupby('Journal title').count().reset_index()
journal_titles = journal_titles[['Shortened Titles','Journal title']]
journal_titles = journal_titles.sort_values(by=['Shortened Titles'],ascending=False).reset_index()

In [15]:
journal_titles.head(10)

   index  Shortened Titles                                    Journal title
0    773               190                                         plos one
1    510                53                  journal of biological chemistry
2    701                29                                       neuroimage
3    767                24                                    plos genetics
4    774                24                                   plos pathogens
5    726                23                           nucleic acids research
6    771                20                 plos neglected tropical diseases
7    789                20  proceedings of the national academy of sciences
8    417                19                         human molecular genetics
9    687                19                            nature communications

In [18]:
journal_aggregates = df.agg({'Shortened Titles' : ['count'], 'Cost in Pounds' : [np.mean]})

In [13]:
journal_aggregates.head()

        Shortened Titles  Cost in Pounds
count             2127.0             NaN
mean                 NaN    24067.339972
median               NaN     1884.010000
std                  NaN   146860.665559